.git/
.gitignore
.gitattributes

/vendor/
node_modules/

.idea/
.vscode/
*.swp
*.swo
*~

/build/
/dist/
.phpunit.cache/
.phpunit.result.cache
.php-cs-fixer.cache
.phpstan/
coverage/
*.cache

tests/_output/
coverage.xml

docs/_build/

.DS_Store
*.log
logs/

.env
.env.*

.tmp/
temp/

.github/
.captainhook/

Dockerfile*
docker-compose*.yml
.dockerignore
